html {
    
}
body{
   background-image: url("/documentacion/20200728_094637.jpg") ;
   background-size:100%;
  background-position: auto; /* Center the image */
}

h1{
    color: #2ebfa5;
    
    text-align: center;
}

h2{
    color:white;
    text-align: center;
}

#area{
    color:#4E4187;
    padding: 10px;
    max-width: 600px;
    margin: 50px auto;
    background:#3083DC;
    border-radius: 5x;
    text-align: center;
    border-radius: 10px;
  }

  #cv{
      text-align: center;
      
  }